30 Days of Python-MachineHack

DAY 3 List

Python Lists

Lists are an ordered collection of data, similar to arrays, which are defined in other languages. It is particularly adapatable since list elements do not have to be of the same kind. There are two primary properties of the list.
  * The list in python is ordered, which means the elements follow a sequence. If a new element is inserted,it would be inserted into the end.
  * The list is a mutable data object which means the deletion and swapping of elements are permitted.

Initialize the list

To initialize a list in python, the values need to be stored inside square brackets. The elements of the lists are seperated by a comma. Here is an example of initialize a list.

In [ ]:
#Initialize the list
empty_list = []
print("Empty list : ", empty_list)

Empty list :  []

In [ ]:
#storing values in a list
a= [1,2,3,4,5]
print("the input list :", a , type(a))

the input list : [1, 2, 3, 4, 5] <class 'list'>

In [ ]:
#Nested list
nested_list = [['Machine', "Hack"],['Python']]
print("Nested list", nested_list)

Nested list [['Machine', 'Hack'], ['Python']]

List Operations

Here are frequently used operations for manipulating the values of a list object.

Access elements of a list

To retrieve the values stored in the list object,there is a huge importance of index number. Use the index number of the element with the variable name of the list object using the square brackets. The data could be retrieved in reverse order using the negative index number.

 Here is an example to explain further.

syntax
list[index]

In [ ]:
#example
input_list = ['Machine', 'Hack', 'MH']
print("Retrieving the data from index 0: ", input_list[0],
      "\nRetrieving the data from index -2:", input_list[-2])

Retrieving the data from index 0:  Machine
Retrieving the data from index -2: Hack

To access consecutive elements of a list, use the colon ':' and set the range of indexes. These integers are considered to be the lower and upper limit of the range, and upper limit is executed from the output.

Syntax

list[lower_index:upper_index]

In [ ]:
#Example
input_list = ['Machine', 'Hack', 'MH', 1,3, 6, 7]
print("Data from index 0to5: ", input_list[:5],
      "\nData from index 2to4: ", input_list[2:4])

Data from index 0to5:  ['Machine', 'Hack', 'MH', 1, 3]
Data from index 2to4:  ['MH', 1]

Appending elements

Elements can be appended to the python lists using either the append or insert function. When using an insert function need to specify the index at which the element is inserted into the list. But while using an append the element is inserted at the last of the list.

Syntax

list.insert(pos,elemnt)

list.append(element)

In [ ]:
#Example
input_list = ['Machine', 'Hack', 30, 'days']
input_list.insert(2, 'learn')
input_list.insert(3, 'python')
print("adding element using insert :", input_list)

input_list.append(40)
print("Adding element using append :", input_list)

adding element using insert : ['Machine', 'Hack', 'learn', 'python', 30, 'days']
Adding element using append : ['Machine', 'Hack', 'learn', 'python', 30, 'days', 40]

Sorted Lists

The elements of the list could be sorted in ascending or descending order. The sorting could be implemented by using in built function.

Syntax

list.sort()

In [ ]:
#Example
in_list = ['Machine', 'Hack', 'Learn', 'Python', 'days']
in_list.sort(reverse=True)
print(in_list)

['days', 'Python', 'Machine', 'Learn', 'Hack']

Update of elemets of a list

Since a list is a mutable object therefore the updation of any element in the list is possible using the index of list.

syntax

list[index]=element

In [ ]:
#Example
in_list = ['Machine','Hack', 'Learn', 'Python', 'days']
in_list[4] = 30
print(in_list)

['Machine', 'Hack', 'Learn', 'Python', 30]

Deletion of elements of list

Similar to updataion in a list the element could also be deleted using the remove function. The element need to be provided when using the remove function.

Syntax:

list.remove(element)

In [ ]:
#Example
output_list = ['Machine', 'Hack', 'Learn', 'Python', 30]
output_list.remove('Hack')
print(output_list)

['Machine', 'Learn', 'Python', 30]

Popping an element

When using pop function the position of the element need to be provided or else the last element of the list would be pop out of the list. It returns the element as output.

Syntax:

list.pop(pos)

In [ ]:
#Example
output_list = ['Machine', 'Hack', 'Learn', 'Python', 30]
print("Deleting element without specifying position :", output_list.pop())
print(("Deleting element with specifying position : ", output_list.pop(2)))

Deleting element without specifying position : 30
('Deleting element with specifying position : ', 'Learn')

Length of the list object

The total number of element in the list is the length of the list object.The length of the list is found by using the function len().

Syntax

len(list)

In [ ]:
#Example
output_list = ['MAchine', 'Hack', 'Learn', 'Python', 30]
print("The length of list : ", len(output_list))

The length of list :  5

Largest element in a list

The largest element in list could be found by using max() in built function. It could be applied whe the element is either contain only string or numeric. It returns the largest element of the list object.

syntax

max(list)

In [ ]:
#Example
str_list = ['Machine', 'Hack', 'Learn', 'Python']
numer_list = [2,2.2,2.87,2.88,2.89]
print("The largest of string list : ", max(str_list))
print("The largest of numeric list : ", max(numer_list))

The largest of string list :  Python
The largest of numeric list :  2.89

Adding lists

By using the add operator "+" two or more lists could be concatenated, the second list would be appended to the initial list from the (n+1) index

Syntax

list+list+....+list

In [ ]:
#Example

num_list1 = [1,3,4,5]
num_list2 = [5,6,7]
num_list3 = [8,9,8,7,6]
print(num_list1 + num_list2 + num_list3)

[1, 3, 4, 5, 5, 6, 7, 8, 9, 8, 7, 6]

Iterating through list

List objects are iterable which means every element in an list object could iterated using a loop.

Syntax

for i in list:
  print(i)

In [ ]:
#Example
for i in str_list:
  print(i, end = '|')

Machine|Hack|Learn|Python|