30 Days of Python-MachineHack

DAY 1
Introduction and Overview

Python is a high level scripting langauge for text processing, system management , and internet related activities. Guido van rossum creted python in virginia in the early 1990s. Unlike many comparable languages, its core language is tiny and and simple to learn,but modules maybe added to do pratically continous functions. Python is also a simple object oriented language that is available on a broad range of systems. There is even a python interpreter written entirely in java, bolstering python's reputation as a great answer for internet related problems.
Python evolved from a quest to create a computer language that was simple enough for novices to understand but still strong enough for expert users. This background is reflected in python's tiny,concise syntax and the completeness with which principles like object oriented programming are implemented without removing the flexibility to programme in a more conventional approach. As a result, Python is a good choice as a first programming language since it provides the power and sophisticated features that users will eventually want.
Python includes numerous capabilities often available exclusivesly in languages that are significantly more difficult to learn and use. These capabilites were built into python from the beginning rether than added afterwards, as with many other programming languages.The purpose of introducing these ideas now is to familiriaze you with how python works and the overall philosophy underlying python programming.

Syntax

Python statements do not need to conclude with a special character semicolon (;). To move on to the next line, just hit"Enter"/"Return", which indicates that the previous line is finished with an individual statement. Assume, however that a statement extends more than one line. In such an instance, at  the end of the line, use a backslash (/) considered the safest approach, informing python IDE that the line will be continued.

Python is flexible while writing programmes, but some rules must always be followed, such as indentation. Indentataions are the white space before the statement itself that signals the existence of loops, rather than delimiters like curly brackets({}) or keywords (like "begin" and "end"), as many other languages use. The amount of indentation used is insignificant, but it must be constant throughout the depth of a loop, and unindented statements must begin in the first column.

In [ ]:
#Syntax for printing a statement in python
#print(<"strings">, <literals>, <constants>,<expressions>)

In [ ]:
#input
print("Hello world is a myth")

Hello world is a myth

In [ ]:
#Syntax when using indentation
for i in range(3):
  i+=1
  print(i)

1
2
3

Above is an example of for loop; there is some white space before the print statement and the variable, which is the indentation. The amount of indentation is maintained overall in the for loop. To understand more efficiently, lets see another example in which there are multiple loops.

In [ ]:
def iterator(nums):
   for i in nums:
     1
     2
     3

     for j in i:
      return j
   return i

In this example,the ratio of white space is maintained all over the code. As observed, once the function 'iterator' is defined, then in the second line, the for loop has an indentation, and inside that for loop, there is another for loop, which has more white spaces as compared to the previous loop.

Variable

A variable in a computer language is a memory area where you may store a value.The value you have saved may vary in the future based on the requirements.There are several restrictions on what you may call a variable,also known as identifier.

In [ ]:
#Rules #for naming a variable
# *Variables in python can only begin with a letter (A-Z/a-z) or an underscore().
1machinehack = 20

SyntaxError: ignored

In [ ]:
_1machinehack = 20
print(_1machinehack)

20

In [ ]:
# *The remainder of the identification can include letters (A-Z/a-z),underscores (_), and digits(0-9).
machinehack1 = "Machine Hack"
print(machinehack1)

Machine Hack

In [ ]:
# *Python is a case sensitive programming language,and so are its variables. Machinehack and machinehack are two different identifiers.
Machinehack = "Machine"
print(machinehack)

NameError: ignored

In [ ]:
Machinehack = "Machine"
machinehack = "Learning"
print(Machinehack, machinehack)

Machine Learning

Assignment of value

To assign a value to python variables, there is no need to declare the value's data type. Once the variable name is done according to the above defined rules, just type the valu after the equal sign (=).

In [ ]:
#Syntax
#Variablename = &amp;amp;amp;nbsp; value
#The above syntax means whatever is on the right side of the equals sign is assigned
# to the left side of the equals sign. According to this, the identifier could not be placed
# on the right hand side of the equal sign. IF the syntax is not correctly used, then python
# throws an error something like the below:
20 = value

SyntaxError: ignored

In [ ]:
# Suppose there is a need to assign multiple values to multiple identifiers
# but need to shorten the lines used in the code. So multiple assignment methods
# could be used using comma (,) on both sides of the equal sign since python is a sequential
# programming language so the assignment of the values should also be in the desired sequence.
Machinehack, machinehack = "Machine", "Learning"
print(Machinehack, machinehack)

Machine Learning

In [ ]:
# If there is the same value that is needed to be assigned to two or more
# variables, then the below mwthod could be used.
Machinehack = machinehack = "Machine"
print(Machinehack, machinehack)

Machine Machine

In [ ]:
#Deleting variables
#The variables could be deleted using the "del" function.
Machinehack, machinehack,mh = "Machine", "Learning", 1
del mh
print(Machinehack,machinehack,mh)

NameError: ignored

Data Types

The classification or categorising of data elements is reffered to as data types. It represents the kind of values that specifies which operations may
be done on a given piece of data. Because everything in python programming is an object, data types are classes and variables are instances objects of these
classes.

There are five categories of data types.

 *Numeric

 *Dictionary

 *Boolean

 *Set

 *Sequence type

Numeric

The numerics data type in python represent data with a numeric value. An integer, a Floating number, or even a complex number can be used to represent
a numeric value. In python, these values are represented by the int, float, and complex classes.

The int class represents the value of integers. It has either positive or negative whole numbers(without fractions or decimals). In python, there is no limit on the length of an integer number.

The float class represents the float value. It is a real number represented in a floating point. A decimal point is used to specify it. The letter e or E followed by a positive or negative number may be inserted to express scientific notation.

In [ ]:
#A complex class represents complex numbers. The formula is (real part) + (imaginary part). ex., 5+6j
integer_value = 2
float_value = 1.4
complex_value = 1+1.4j
print("Interger value :", integer_value, type(integer_value),
      "\nFloat value :", float_value, type(float_value),
      "\nComplex value:", complex_value,type(complex_value))

Interger value : 2 <class 'int'>
Float value : 1.4 <class 'float'>
Complex value: (1+1.4j) <class 'complex'>

Dictionary

A dictionary in python language could be defined as an unordered collection of values that may be used to store data like a map.Dictionary could hold multiple data types. To create a dictionary, use curlbraces({}), and inside it , the data seperated using a comma(,).It could also be created using the in built function dict(). The dictionary includes key value pairs to make it more optimised. There is a key and a value pairs to make it more optimised. There is a key and value in which the variable and value are stored, respectively. The key and value pair are seperated using a colon(:).

In [ ]:
#Empty Dictionary
empty_dict = {}
print("Empty Dictionary:", empty_dict)

Empty Dictionary: {}

In [ ]:
#Dictionary with keys and values, but the keys are only integer type
int_dict = {1: "Machine", 2:"Hacking", 3:"for", 4:"learning"}
print("Dictionary with the Integer Keys: ", int_dict)

Dictionary with the Integer Keys:  {1: 'Machine', 2: 'Hacking', 3: 'for', 4: 'learning'}

In [ ]:
#Dictionary with keys and values with multi data types keys.
mul_dict = {"Name": "Machine Hack", 2:[1,2,3,4]}
print("dictionary with the mixed keys:", mul_dict)

dictionary with the mixed keys: {'Name': 'Machine Hack', 2: [1, 2, 3, 4]}

In [ ]:
#Dictionaries created using the built in functions of python.
inbuilt_dict = dict([(1, "Machine"), (2,"Hack")])
print("Dictionary formed by using in built function:", inbuilt_dict)

Dictionary formed by using in built function: {1: 'Machine', 2: 'Hack'}

Boolean

True or False are the two built in values for data types and are represented by class bool. True Boolean objects are truthy(true), while False boolean thing are falsy(false). Non Boolean items, on the other hand, can be evaluated in a boolean context and judges to true or false.

In [ ]:
flag_1 = True
flag_2 = False
print("Data type of 1st flag: ", type(flag_1),
      "\nData type of 2nd flag:", type(flag_2))

Data type of 1st flag:  <class 'bool'>
Data type of 2nd flag: <class 'bool'>

Set

Set is an unordered collection of data types in python that is iterable,changeable, and contains no duplicate elements. The order of the items in a set is unknown, yet it may contain several elements.

Sets may be formed by using the built in set() method with an iterable object or a sequence enclosed in curly braces seperated by a "comma".A set's elements do not have to be of the same type;other mixed up data type values can also be provided to the set.

In [ ]:
#Blank set
blank_set= set()
print("Initial Blank Set :", blank_set)

Initial Blank Set : set()

In [ ]:
#Set with single value
set_string = set("Machienhack")
print("Set wit single data :", set_string)

Set wit single data : {'h', 'i', 'a', 'e', 'k', 'n', 'M', 'c'}

In [ ]:
#Srt with multi data in an array
set_list = set([7, 1, "Machine", 5, "Hack", .9, "MH"])
print("Set with the list of multi data type:", set_list)

Set with the list of multi data type: {0.9, 1, 'Machine', 5, 7, 'MH', 'Hack'}

Sequence type

In Python, a sequence is an ordered collection of data types that are similar or dissimilar . Sequences enable the structured and effiecient storage of several variables.

There are three types:

 *Strings

 *List

 *Tuple

 Strings are arrays of bytes that represents Unicode characters and are represented by an str class. A string is a group of one or more characters enclosed by a single, double, or triple quotation. Python has no character data type;a character is a one length string.

 Strings in python can be constructed using single, double or triple quotes. Individual characters of a string can be obtained in python using the indexing function. Indexing enables negative address references to access characters from the reverse order. For example, -1 refers to the last character, -2 corresponds tothe second last character and so on.

In [ ]:
single_str = 'welcome to the Machine Hack'
double_str = "I'm a learner"
triple_str = '''Hello world is a myth'''
print("Single Quotes string: ", single_str)
print("Double Quotes string: ", double_str)
print("Triple Quotes string: ", triple_str)

Single Quotes string:  welcome to the Machine Hack
Double Quotes string:  I'm a learner
Triple Quotes string:  Hello world is a myth

Lists are an ordered collection of data, similar to arrays defined in other languages. It is particularly adaptable since list elements do not have to be similar.

In [ ]:
#Empty List
empty_list = []
print("Empty List :", empty_list)

Empty List : []

In [ ]:
#Retrieving data
input_list = ["Machine", "Hack", "MH"]
print("Retrieving the data from index 0:", input_list[0],
      "\nRetrieving the data from index 1: ", input_list[1])

Retrieving the data from index 0: Machine
Retrieving the data from index 1:  Hack

In [ ]:
#Nested List
nested_list = [['Machine', 'Hack'], ['python']]
print("nested list:", nested_list)

nested list: [['Machine', 'Hack'], ['python']]

Tuple is an other name for an ordered collection of python objects. The main distiction between a tuple and a list is that tuples are immutable, which means they cannot be updated once they are generated. A tuple class is used to represent it.

tuples are produced in python by inserting a sequence of values seperated by a comma, with or without the use of parenthesis, to organise the data sequence. Tuples can have any number of items and datatypes(like string, integers, lists, etc.)

In [ ]:
#Empty tuple
empty_tuple = ()
print("An empty tuple :", empty_tuple)

An empty tuple : ()

In [ ]:
#Nested tuple
num_tuple = (0,1,2,3)
char_tuple = ('Machine Hack', 'python')
nested_tuple = (num_tuple, char_tuple)
print("nested tuple:", nested_tuple)

nested tuple: ((0, 1, 2, 3), ('Machine Hack', 'python'))